<!DOCTYPE html>
<html lang="en" ng-app="FirstApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../bootstrap/css/font-awesome-5.8.1.css">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap/css/mdb.css">
    <link rel="stylesheet" href="../bootstrap/css/style.css">
    <title>AngularJS First App</title>
</head>

<body >


    <div class="container mt-4" ng-controller="FirstAppCtrl">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <form>
                            <div class="form-group">
                                <input ng-model="username" type="text" class="form-control">
                            </div>
                        </form>
                    </div>
                    <div class="card-body">
                        <h3>{{username}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4" ng-controller="WishMessageCtrl">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-light">
                        <form>
                            <div class="form-group">
                                <input ng-model="number" ng-change="displayWishMessage()" type="number" class="form-control">
                            </div>
                        </form>
                    </div>
                    <div class="card-body">
                        <h3 class="text-primary font-weight-bold">{{message}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
<!-- Body Ends -->
<script src="../bootstrap/js/jquery-3.3.1.min.js" ></script>
<script src="../bootstrap/js/popper.min.js" ></script>
<script src="../bootstrap/js/bootstrap.min.js" ></script>
<script src="../bootstrap/js/mdb.min.js" ></script>
<script src="../angular-1.7.8/angular.js" ></script>
<script src="01_app.js" ></script>
</html>